In [217]:
import pandas as pd

df = pd.read_csv("./cleaning_data/data_vancouver.csv",encoding = "ISO-8859-1")
df.columns
df.head()
# remove useless columns (only the first 15 columns are useful)

,address,price,bedrooms,bath,lot_size,property_age,gross_tax_for_2020,area,Sub-Area/Community,Property_Type,...,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28
0,232 2565 W Broadway Avenue,"$1,065,000",2.0,3.0,Built in 1995 (25 yrs old),"$2,823",$481,Vancouver West,Kitsilano,Townhouse,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,203 2160 Cornwall Avenue,"$948,000",2.0,2.0,Built in 1992 (28 yrs old),"$2,402",$508,Vancouver West,Kitsilano,Apt/Condo,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2781 W 15th Avenue,"$2,470,000",4.0,3.0,4026 ft²,Built in 1929 (91 yrs old),"$7,109",Vancouver West,Kitsilano,House,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2289 W 12th Avenue,"$1,299,000",2.0,2.0,Built in 1998 (22 yrs old),"$2,879",$517,Vancouver West,Kitsilano,Townhouse,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1768 Cypress Street,"$2,190,000",3.0,3.0,Built in 2022 (-2 yrs old),$999,$545,Vancouver West,Kitsilano,Townhouse,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [218]:
# drop the columns that contains Unamed
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df.head(3)

,address,price,bedrooms,bath,lot_size,property_age,gross_tax_for_2020,area,Sub-Area/Community,Property_Type,title,style,heating_type,Depth,frontage
0,232 2565 W Broadway Avenue,"$1,065,000",2.0,3.0,Built in 1995 (25 yrs old),"$2,823",$481,Vancouver West,Kitsilano,Townhouse,Freehold Strata,Inside Unit,R2504537,Michael Uy PREC*,Oakwyn Realty Ltd.
1,203 2160 Cornwall Avenue,"$948,000",2.0,2.0,Built in 1992 (28 yrs old),"$2,402",$508,Vancouver West,Kitsilano,Apt/Condo,Freehold Strata,End Unit,R2500456,Rod MacKay,"Maude, Mackay & Co. Ltd."
2,2781 W 15th Avenue,"$2,470,000",4.0,3.0,4026 ft²,Built in 1929 (91 yrs old),"$7,109",Vancouver West,Kitsilano,House,Freehold NonStrata,1 Storey,33.00 feet,R2497832,Ken Cui PREC*

In [219]:
# return the columns that equal to Na
df[df['property_age'].isna()]

,address,price,bedrooms,bath,lot_size,property_age,gross_tax_for_2020,area,Sub-Area/Community,Property_Type,title,style,heating_type,Depth,frontage
262,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [220]:
#describe
df.describe()

          bedrooms         bath
count  1157.000000  1157.000000
mean      3.415730     2.977528
std       2.084511     1.894130
min       0.000000     0.000000
25%       2.000000     2.000000
50%       3.000000     2.000000
75%       5.000000     4.000000
max      14.000000    12.000000

In [221]:
# drop all rows that contain NA
df = df.dropna()

In [222]:
# filter rows that are houses only
df = df[df['Property_Type'].str.contains("House")]
df.head()

,address,price,bedrooms,bath,lot_size,property_age,gross_tax_for_2020,area,Sub-Area/Community,Property_Type,title,style,heating_type,Depth,frontage
2,2781 W 15th Avenue,"$2,470,000",4.0,3.0,4026 ft²,Built in 1929 (91 yrs old),"$7,109",Vancouver West,Kitsilano,House,Freehold NonStrata,1 Storey,33.00 feet,R2497832,Ken Cui PREC*
6,2070 W 14th Avenue,"$3,788,000",8.0,4.0,50 ft x 125 ft (6250 ft²),Built in 1922 (98 yrs old),"$10,423",Vancouver West,Kitsilano,House,Freehold NonStrata,Reverse 2 Storey w/Bsmt,125,50.00 feet,R2493457
7,2917 W 20th Avenue,"$4,288,000",5.0,5.0,42 ft x 122 ft (5129 ft²),Built in 2013 (7 yrs old),"$12,652",Vancouver West,Arbutus,House,Freehold NonStrata,2 Storey w/Bsmt.,Heat Recovery Ventilator,122.12,42.00 feet
8,2688 W 19th Avenue,"$3,800,000",6.0,6.0,52 ft x 120 ft (6240 ft²),Built in 1987 (33 yrs old),"$11,176",Vancouver West,Arbutus,House,Freehold NonStrata,2 Storey,120,52.00 feet,R2520899
9,3008 W 21st Avenue,"$2,780,000",2.0,1.0,33 ft x 122 ft (4026 ft²),Built in 1941 (79 yrs old),"$7,278",Vancouver West,Arbutus,House,Freehold NonStrata,1 Storey,122,33.00 feet,R2518002

In [223]:
# This cell is used to filter the "lot_size" column

# filter1: data rows with lot size in the format: AREAft^2
# type: pandas.core.series.Series
filter1 = (~df['lot_size'].str.contains('(', regex=False))

# filter2: data rows with lot size in the format: WIDTH ft X LENGHT ft (AREAft^2)
filter2 = ~filter1

# to apply the filter1
df[filter1]

# show the index of each row
# type: pandas.core.indexes.numeric.Int64Index
# output: dtype='int64', length=456
filter2.index


# drop method rows with filter ( Doesn't work? )
# df.drop(filter2.index)

# alternate method using DF ( works )
df = df[filter2]
df.head()

,address,price,bedrooms,bath,lot_size,property_age,gross_tax_for_2020,area,Sub-Area/Community,Property_Type,title,style,heating_type,Depth,frontage
6,2070 W 14th Avenue,"$3,788,000",8.0,4.0,50 ft x 125 ft (6250 ft²),Built in 1922 (98 yrs old),"$10,423",Vancouver West,Kitsilano,House,Freehold NonStrata,Reverse 2 Storey w/Bsmt,125,50.00 feet,R2493457
7,2917 W 20th Avenue,"$4,288,000",5.0,5.0,42 ft x 122 ft (5129 ft²),Built in 2013 (7 yrs old),"$12,652",Vancouver West,Arbutus,House,Freehold NonStrata,2 Storey w/Bsmt.,Heat Recovery Ventilator,122.12,42.00 feet
8,2688 W 19th Avenue,"$3,800,000",6.0,6.0,52 ft x 120 ft (6240 ft²),Built in 1987 (33 yrs old),"$11,176",Vancouver West,Arbutus,House,Freehold NonStrata,2 Storey,120,52.00 feet,R2520899
9,3008 W 21st Avenue,"$2,780,000",2.0,1.0,33 ft x 122 ft (4026 ft²),Built in 1941 (79 yrs old),"$7,278",Vancouver West,Arbutus,House,Freehold NonStrata,1 Storey,122,33.00 feet,R2518002
10,2848 W 20th Avenue,"$3,380,000",5.0,4.0,40 ft x 122 ft (4882 ft²),Built in 1993 (27 yrs old),"$9,251",Vancouver West,Arbutus,House,Freehold NonStrata,2 Storey w/Bsmt.,122.05,40.00 feet,R2511456

In [224]:
# this cell extracts the text inisde the brackets in the "lot_size" column
# and manipulates the data to return the digits only for the "lot_size"



type(df['lot_size']) # pandas.core.series.Series
type(df)             # pandas.core.frame.DataFrame

# convert the dtype to string
df['lot_size'].astype("string")


# function to extract text inside bracket
def get_value_inside_brackets(s):
    return s[s.find("(")+1:s.find(")")]


# apply the funciton
df['lot_size'] = df['lot_size'].apply(get_value_inside_brackets)


# function that returns the digits only in lot_size
def digit_only(string):
    # create a string that contains only digits
    string_digit = ''.join(char for char in string if char.isdigit())
    
    # special case: remove the last character in this string because of the ^2 sign
    string_digit = string_digit[0:-1]
    return int(string_digit)


df['lot_size'] = df['lot_size'].apply(digit_only)

df.head()

,address,price,bedrooms,bath,lot_size,property_age,gross_tax_for_2020,area,Sub-Area/Community,Property_Type,title,style,heating_type,Depth,frontage
6,2070 W 14th Avenue,"$3,788,000",8.0,4.0,6250,Built in 1922 (98 yrs old),"$10,423",Vancouver West,Kitsilano,House,Freehold NonStrata,Reverse 2 Storey w/Bsmt,125,50.00 feet,R2493457
7,2917 W 20th Avenue,"$4,288,000",5.0,5.0,5129,Built in 2013 (7 yrs old),"$12,652",Vancouver West,Arbutus,House,Freehold NonStrata,2 Storey w/Bsmt.,Heat Recovery Ventilator,122.12,42.00 feet
8,2688 W 19th Avenue,"$3,800,000",6.0,6.0,6240,Built in 1987 (33 yrs old),"$11,176",Vancouver West,Arbutus,House,Freehold NonStrata,2 Storey,120,52.00 feet,R2520899
9,3008 W 21st Avenue,"$2,780,000",2.0,1.0,4026,Built in 1941 (79 yrs old),"$7,278",Vancouver West,Arbutus,House,Freehold NonStrata,1 Storey,122,33.00 feet,R2518002
10,2848 W 20th Avenue,"$3,380,000",5.0,4.0,4882,Built in 1993 (27 yrs old),"$9,251",Vancouver West,Arbutus,House,Freehold NonStrata,2 Storey w/Bsmt.,122.05,40.00 feet,R2511456

In [225]:
# extract the age of a house from the "property_age" and convert it as dtype: int64


# convert the dtype to string
df['property_age'].astype("string")


# function to extract text inside bracket
def get_value_inside_brackets(s):
    return s[s.find("(")+1:s.find(")")]


# apply the changes
df['property_age'] = df['property_age'].apply(get_value_inside_brackets)


# function that returns the digits only in property_age
def digit_only_for_age(string):
    # create a string that contains only digits
    string_digit = ''.join(char for char in string if char.isdigit())
    
    return int(string_digit)


df['property_age'] = df['property_age'].apply(digit_only_for_age)

df.head()

,address,price,bedrooms,bath,lot_size,property_age,gross_tax_for_2020,area,Sub-Area/Community,Property_Type,title,style,heating_type,Depth,frontage
6,2070 W 14th Avenue,"$3,788,000",8.0,4.0,6250,98,"$10,423",Vancouver West,Kitsilano,House,Freehold NonStrata,Reverse 2 Storey w/Bsmt,125,50.00 feet,R2493457
7,2917 W 20th Avenue,"$4,288,000",5.0,5.0,5129,7,"$12,652",Vancouver West,Arbutus,House,Freehold NonStrata,2 Storey w/Bsmt.,Heat Recovery Ventilator,122.12,42.00 feet
8,2688 W 19th Avenue,"$3,800,000",6.0,6.0,6240,33,"$11,176",Vancouver West,Arbutus,House,Freehold NonStrata,2 Storey,120,52.00 feet,R2520899
9,3008 W 21st Avenue,"$2,780,000",2.0,1.0,4026,79,"$7,278",Vancouver West,Arbutus,House,Freehold NonStrata,1 Storey,122,33.00 feet,R2518002
10,2848 W 20th Avenue,"$3,380,000",5.0,4.0,4882,27,"$9,251",Vancouver West,Arbutus,House,Freehold NonStrata,2 Storey w/Bsmt.,122.05,40.00 feet,R2511456

6       98
7        7
8       33
9       79
10      27
        ..
1125     0
1126    59
1132    97
1136     4
1144    53
Name: property_age, Length: 432, dtype: int64